// list
// text not-page post-161662731145 masonry-brick
// single
// text not-page post-161662731145 active exposed 
// 
// @media style
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
// 
h2 * {
  font-size: 0.8em;
}

article {
  &:not(.exposed) .body-text {
    // > *:nth-child(1n + 3) {
    //   display: none;
    // }
    // > *:nth-child(2):after {
    //   content: ' 點擊標題看更多 ...';
    //   display: block;
    //   color: #210b41;
    //   margin-top: 20px;
    //   font-size: 0.6em;
    // }
    .read_more_container {
      font-size: 0.6em;
      color: #210b41;
      &:after {
        content: ' ...';
      }
    }
  }
}

.main {
  @media #{$desktop},
  #{$tablet} {
    max-width: 60vw !important;
  }
}

.nav-menu {
  ul {
    padding: 0px;
  }
  li {
    display: inline-block;
    font-size: 16px;
    margin: 0px 6px;
    cursor: pointer;
    &:after {
      content: "";
      // position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #555;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover:after {
      visibility: visible;
      transform: scaleX(1);
    }
  }
  li {
    @media #{$mobile} {
      margin: 10px 3.5px !important;
    }
  }
  a {
    font-size: 18px !important;
    letter-spacing: 0.4px;
    font-weight: 500;
    text-decoration: none;
    color: hsla(210, 30%, 15%, 1);
    display: block;
    opacity: 0.8;
    @media #{$mobile} {
      font-size: 10px !important;
      font-weight: 400;
    }
  }
}
